In [1]:
import psycopg2

# Connect to an existing database
conn = psycopg2.connect("host=postgres port=5432 dbname=movies user=postgres password=changeme")

# Open a cursor to perform database operations
cur = conn.cursor()

# Create Tables with relations

In [ ]:
cur.execute("""
        -- Table: public.links

        -- DROP TABLE IF EXISTS public.links;

        CREATE TABLE IF NOT EXISTS public.links
        (
            "movieId" integer NOT NULL,
            "imdbId" integer NOT NULL,
            "tmdbId" integer,
            CONSTRAINT links_pkey PRIMARY KEY ("movieId"),
            CONSTRAINT "movieId_movies" FOREIGN KEY ("movieId")
                REFERENCES public.movies ("movieId") MATCH SIMPLE
                ON UPDATE NO ACTION
                ON DELETE NO ACTION
                NOT VALID
        )

        TABLESPACE pg_default;

        ALTER TABLE IF EXISTS public.links
            OWNER to postgres;
            """)
conn.commit()

In [ ]:
cur.execute("""
        -- Table: public.movies

        -- DROP TABLE IF EXISTS public.movies;

        CREATE TABLE IF NOT EXISTS public.movies
        (
            "movieId" integer NOT NULL,
            title character varying COLLATE pg_catalog."default",
            genres character varying COLLATE pg_catalog."default",
            CONSTRAINT movies_pkey PRIMARY KEY ("movieId")
        )

        TABLESPACE pg_default;

        ALTER TABLE IF EXISTS public.movies
            OWNER to postgres;
            """)
conn.commit()

In [ ]:
cur.execute("""
        -- Table: public.ratings

        -- DROP TABLE IF EXISTS public.ratings;

        CREATE TABLE IF NOT EXISTS public.ratings
        (
            "userId" integer NOT NULL,
            "movieId" integer NOT NULL,
            rating numeric NOT NULL,
            "timestamp" integer NOT NULL,
            CONSTRAINT ratings_pkey PRIMARY KEY ("userId", "movieId"),
            CONSTRAINT "movieId_ratings" FOREIGN KEY ("movieId")
                REFERENCES public.links ("movieId") MATCH SIMPLE
                ON UPDATE NO ACTION
                ON DELETE NO ACTION
                NOT VALID
        )

        TABLESPACE pg_default;

        ALTER TABLE IF EXISTS public.ratings
            OWNER to postgres;
            """)
conn.commit()

# Add Data to tables

In [ ]:
cur.execute("""
-- truncate the table first
TRUNCATE TABLE links;
GO
 
-- import the file
BULK INSERT links
FROM './db/ml-latest-small/links.csv'
WITH
(
        FORMAT='CSV',
        FIRSTROW=2
)
GO
""")

conn.commit()

In [ ]:
cur.execute("""
-- truncate the table first
TRUNCATE TABLE links;
GO
 
-- import the file
BULK INSERT links
FROM './db/ml-latest-small/links.csv'
WITH
(
        FORMAT='CSV',
        FIRSTROW=2
)
GO
""")

conn.commit()

In [ ]:
cur.execute("""
-- truncate the table first
TRUNCATE TABLE movies;
GO
 
-- import the file
BULK INSERT movies
FROM './db/ml-latest-small/movies.csv'
WITH
(
        FORMAT='CSV',
        FIRSTROW=2
)
GO
""")

conn.commit()

In [ ]:
cur.execute("""
-- truncate the table first
TRUNCATE TABLE ratings;
GO
 
-- import the file
BULK INSERT ratings
FROM './db/ml-latest-small/ratings.csv'
WITH
(
        FORMAT='CSV',
        FIRSTROW=2
)
GO
""")

conn.commit()

In [ ]:
cur.execute("""
-- truncate the table first
TRUNCATE TABLE tags;
GO
 
-- import the file
BULK INSERT tags
FROM './db/ml-latest-small/tags.csv'
WITH
(
        FORMAT='CSV',
        FIRSTROW=2
)
GO
""")

conn.commit()

In [ ]:
# Close communication with the database
cur.close()
conn.close()